.git
dlib/
data/.gitkeep
data/
cpp/codes/
cpp/codes/results/
cpp/Facial_Landmarks/.vs
cpp/Facial_Landmarks/x64
cpp/Facial_Landmarks/Facial_Landmarks.sln
cpp/Facial_Landmarks/Facial_Landmarks/x64
cpp/Facial_Landmarks/Facial_Landmarks/Facial_Landmarks.vcxproj
cpp/Facial_Landmarks/Facial_Landmarks/Facial_Landmarks.vcxproj.filters
cpp/Facial_Landmarks/Facial_Landmarks/Facial_Landmarks.vcxproj.user

Virtual Makeup/shape_predictor_68_face_landmarks.dat

